@page "/samurai"
@inject ISamurai samurai
@inject NavigationManager NavManager

<div class="topSection">
    <h3>List of samurais</h3>
    <button @onclick="CreateSamurai">Add samurai</button>
</div>

<table>
    <thead>
        <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>Birthdate</td>
            <td>Functions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var samurai in samuraiList)
        {
            <tr>
                @if (samurai.Deleted == 1)
                {
                    <td>@samurai.FirstName</td>
                    <td>@samurai.LastName</td>
                    <td>@samurai.Birthdate.Year</td>
                    <td>
                        <button><a href="samuraiUpdate/@samurai.ID">Update</a></button> |
                        <button @onclick="()=>SamuraiDelete(samurai)">Delete</button>
                    </td>
                }
            </tr>

        }

    </tbody>
</table>

<div class="bottomSection">
    <p>Søg på en Samurai ved ID: </p>
    <input type="text" @bind="SearchId" />
    <button @onclick="Search">Search</button>
</div>

@if (IDResult != null)
{
    @if (IDResult.Deleted != 2)
    {
        <table>
            <thead>
                <tr>

                    <td>FirstName</td>
                    <td>LastName</td>
                    <td>Birthdate</td>
                    @foreach (var item in IDResult.Quotes)
                    {
                        @if (item.QuoteText != null)
                        {
                            <td>Quotes</td>
                        }
                    }
                    @if (IDResult.Horse != null)
                    {
                        <td>Horse name</td>
                    }
                    @if (IDResult.Clan != null)
                    {
                        <td>Clan Name</td>
                    }
                    @foreach (var item in IDResult.Blades)
                    {
                        @if (item.Name != null)
                        {
                            <td>Blades</td>

                        }
                    }
                    @foreach (var item in IDResult.Battles)
                    {

                        @if (item.EventTitle != null)
                        {
                            <td>Battles</td>
                        }
                    }

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@IDResult.FirstName</td>
                    <td>@IDResult.LastName</td>
                    <td>@IDResult.Birthdate.Year</td>
                    @if (IDResult.Quotes != null)
                    {
                        @foreach (var item in IDResult.Quotes)
                        {
                            <td>@item.QuoteText</td>
                        }
                    }
                    @if (IDResult.Horse != null)
                    {
                        <td>@IDResult.Horse.Name</td>
                    }
                    @if (IDResult.Clan != null)
                    {
                        <td>@IDResult.Clan.ClanName</td>
                    }
                    @if (IDResult.Blades != null)
                    {
                        @foreach (var item in IDResult.Blades)
                        {
                            <td>@item.Name</td>
                        }
                    }
                    @if (IDResult.Battles != null)
                    {
                        @foreach (var item in IDResult.Battles)
                        {
                            <td>@item.EventTitle</td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    }
}

@code {
    //istansiere vores List
    List<SamuraiModel> samuraiList = new();
    int SearchId;
    SamuraiModel IDResult;
    List<SamuraiModel> NameResult = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsæt
        samuraiList = samurai.ReadAllSamurais();
    }

    /// <summary>
    /// vores knap til at komme hen for at indsætte i tabel
    /// </summary>
    private void CreateSamurai()
    {
        //skift vindue
        NavManager.NavigateTo("/SamuraiCreate");
    }

    /// <summary>
    /// vores knap til at slette
    /// </summary>
    /// <param name="samuraiModel"></param>
    private void SamuraiDelete(SamuraiModel samuraiModel)
    {
        //kør metode
        samurai.DeleteSamurai(samuraiModel.ID);

        //refresh
        StateHasChanged();
    }

    private void Search()
    {
        IDResult = samurai.ReadOneSamuraisProps(SearchId);
    }


}
